Pods/Pods.xcodeproj/xcuserdata/bagas.xcuserdatad/xcschemes/Pods-La Cripta-La CriptaUITests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/bagas.xcuserdatad/xcschemes/Pods-La Cripta.xcscheme
Pods/Pods.xcodeproj/xcuserdata/bagas.xcuserdatad/xcschemes/Pods-La CriptaTests.xcscheme
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-acknowledgements.markdown
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-acknowledgements.plist
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-dummy.m
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-frameworks.sh
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-Info.plist
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta-umbrella.h
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta.debug.xcconfig
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta.modulemap
Pods/Target Support Files/Pods-La Cripta/Pods-La Cripta.release.xcconfig
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-acknowledgements.markdown
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-acknowledgements.plist
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-dummy.m
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-frameworks.sh
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-Info.plist
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests-umbrella.h
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests.debug.xcconfig
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests.modulemap
Pods/Target Support Files/Pods-La Cripta-La CriptaUITests/Pods-La Cripta-La CriptaUITests.release.xcconfig
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests-acknowledgements.markdown
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests-acknowledgements.plist
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests-dummy.m
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests-Info.plist
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests-umbrella.h
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests.debug.xcconfig
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests.modulemap
Pods/Target Support Files/Pods-La CriptaTests/Pods-La CriptaTests.release.xcconfig
